# While loop example

In [1]:
x = 1

while x < 11:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

### Break statement example

This example demonstrates how the 'break' keyword can allow us to exit the loop under certain conditions.

In [2]:
x = 1

while x < 11:
    print(x)
    if x == 5:
        break
    x += 1

1
2
3
4
5

### Continue statement example
Where a break statement will 'break' the running of the code out of the loop, a continue statement will allow us to continue or 'bypass' specific conditions.

In [4]:
x = 0

while x < 11:
    x += 1
    if x ==5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10
11

# For loop examples
Common uses for For loops include looping through an index a fixed number of times. The "range()" function generates a sequence of numbers, which you can loop through.

In [5]:
for index in range(1, 6):
    print (index*index)

1
4
9
16
25

### Interating over a sequence
You can use a For loop to execute a block of code for each item in a list, tuple, etc.

In [9]:
numbers = [1, 2, 3, 4, 5]

for index in numbers:
    print(index)

1
2
3
4
5

### Loop control statements: 
Within a For loop, you can control the flow with a break, continue, and else, but not if the loop exited through a break.

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

value = 7

for searchValue in numbers:
    if searchValue == value:
        print("Number 5 found, stopping the loop!")
        break
    print(searchValue)

1
2
3
4
5
6
Number 5 found, stopping the loop!

### Stackoverflow format

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

value = 7

for i in numbers:
    if i == value:
        print("Number 5 found, stopping the loop!")
        break
    print(i)

1
2
3
4
5
6
Number 5 found, stopping the loop!

### Nested Loops
You can place a loop inside another loop. Often used in multi-dimensional data structures.

In [14]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element)

1
2
3
4
5
6
7
8
9

# Texbook Programming project example from chapter 4

At one college, the tuition for a full-time student is $8,000 per semester. It has been announced that the tuition will increase by 3 percent each year for the next 5 years. Write a program with a loop that displays the projected semester tuition amount for the next 5 years.
Your programâ€™s output must exactly match the output shown in the sample run below. Notice the wording of the messages and the placement of spaces and punctuation. Also, make sure that the tuition amounts are rounded to two decimal places.

In [23]:
tuition = 8000

for index in range(1, 6):
    tuition *= 1.03
    if index == 1:
        print(f'In 1 year, the tuition will be ${tuition}.')
    else:
        print(f'In {index} years, the tuition will be ${tuition:.2f}.')

In 1 year, the tuition will be $8240.0.
In 2 years, the tuition will be $8487.20.
In 3 years, the tuition will be $8741.82.
In 4 years, the tuition will be $9004.07.
In 5 years, the tuition will be $9274.19.

# List example

In [24]:
vehicles = ['F350', 'Jeep', 'Ram', 'Motorcycle']
print (vehicles[1])

Jeep

### Updating values in a list

In [25]:
vehicles = ['F350', 'Jeep', 'Ram', 'Motorcycle']
vehicles[0] = 'Airplane'

print (vehicles[0])

Airplane

### Iterating through the list

In [26]:
vehicles = ['F350', 'Jeep', 'Ram', 'Motorcycle']

for i in vehicles:
    print(i)

F350
Jeep
Ram
Motorcycle